---
import Layout from '../layouts/Layouts.astro';
---
<Layout>
    <title>Recipe Details</title>
    <div class="container text-center mt-5">
        <h2>Recipe Details</h2>
        <div id="recipe-details-container"></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            const recipe = JSON.parse(localStorage.getItem('selectedRecipe'));
            if (recipe) {
                const container = document.getElementById('recipe-details-container');
                
                try {
                    const response = await fetch(recipe.url);
                    const data = await response.json();
                    const ingredientsList = data.ingredients.map((ingredient: string) => `<li>${ingredient}</li>`).join('');
                    
                    container.innerHTML = `
                        <div class="card">
                            <img src="${recipe.image}" alt="${recipe.label}">
                            <h5 class="card-title">${recipe.label}</h5>
                            <h6>Ingredients:</h6>
                            <ul>${ingredientsList}</ul>
                            <a href="${recipe.url}" target="_blank" class="btn">View Full Recipe</a>
        
                        </div>
                    `;
                } catch (error) {
                    console.error('Error fetching recipe details:', error);
                    container.innerHTML = '<p>Failed to load recipe details. Please try again later.</p>';
                }
            }
        });
    </script>
</Layout>